.language {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  position: relative;
  /*width: 60px;*/
}

.language__selected {
  color: #e5aec3;
  background-color: #f7f5f6;
  padding: 5px 9px 6px 9px;
  width: 100%;
  transition: 300ms ease-out;
}

.language__selected:hover {
  background-color: #212121;
  color: #ffffff;

}

.language__list {
  position: absolute;
  top: 100%;
  width: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.language:hover .language__list {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.language__item {
  background-color: #f7f5f6;
  padding: 5px 9px 6px 9px;
  color: #e5aec3;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.language__item:hover {
  background-color: #212121;
  color: #ffffff;
}