@font-face {
    font-family: Bureausans;
    font-weight: 300;
    font-style: normal;
    src: url("../font/Bureausans_Regular.otf") format("opentype");
}

@font-face {
    font-family: Bureausans;
    font-weight: 600;
    font-style: normal;
    src: url("../font/Bureausans_Bold.otf") format("opentype");
}

@font-face {
    font-family: Bureausans;
    font-weight: 200;
    font-style: normal;
    src: url("../font/Bureausans_Light.otf") format("opentype");
}

@font-face {
    font-family: EBGaramond;
    font-weight: 300;
    font-style: normal;
    src: url("../font/EBGaramond08-Italic.otf") format("opentype");
}

:root {
    --full-width: 1160px;
    --intro-top: 130px;
    --padding: 90px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Bureausans, Arial, sans-serif;
    font-size: 22px;
    font-weight: 200;
    line-height: calc(14/11);
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    min-width: 320px;
}

.container {
    width: var(--full-width);
    margin: 0 auto;
    box-shadow: 0px 3px 62px 0px rgba(0, 0, 0, 0.32);
}


.intro {
    position: relative;
    width: 100%;
    padding-top: var(--intro-top);
    margin-bottom: 80px;
}


.intro__img.js-scalable {
    position: relative;
    top: calc(var(--intro-top) * -1);
    left: calc((100vw - var(--full-width)) / -2);
    max-width: calc(100vw - 8px);
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    transition:
            top ease-out 0.3s,
            left ease-out 0.3s,
            max-height ease-out 0.3s,
            max-width ease-out 0.3s;
    z-index: 1;
    overflow: hidden;
}

.intro__img.js-scalable_fix {
    top: 0;
    left: 0;
    max-width: var(--full-width);
    min-width: 100%;
    max-height: 630px;
    padding: 0 var(--padding);
}

.intro__logo.js-scalable {
    position: absolute;
    top: 20%;
    left: calc((100vw - var(--full-width)) / -2);
    max-width: calc(100vw - 8px);
    width: 100vw;
    transition:
            top ease-out 0.3s,
            left ease-out 0.3s,
            max-width ease-out 0.3s;
    z-index: 3;
}

.intro__logo.js-scalable_fix {
    top: calc(10% + var(--intro-top));
    left: 0;
    max-width: var(--full-width);
    min-width: 100%;
}

.intro__logo img {
    width: 100%;
}

.intro__map {
    position: absolute;
    top: 10px;
    width: 300px;
    z-index: 2;
}

.intro__title {
    padding: 0 var(--padding);
    margin-top: 50px;
    font-family: EBGaramond, Arial, sans-serif;
    font-size: 72px;
}

.location {
    position: relative;
    padding: 0 var(--padding);
}

.location__intro {
    margin-bottom: 110px;
}

.location__title {
    position: relative;
    margin-bottom: -78px;
    text-align: center;
    font-family: Bureausans, Arial, sans-serif;
    font-size: 184px;
    line-height: 1;
    font-weight: 300;
    z-index: 1;
}

.location_riga .location__title {
    text-align: left;
}

.location__name {
    position: relative;
}

.location__name::before {
    content: "";
    position: relative;
    right: -13px;
    display: inline-block;
    width: 70px;
    height: 70px;
    background: url("../img/tallinn/flag_tallinn.png");
}

.location_riga .location__name::before {
    background-image: url("../img/riga/flag_riga.png");
}

.location_vilnius .location__name::before {
    background-image: url("../img/vilnius/flag_vilnius.png");
}

.location_riga .full-figure__img {
    margin-top: -175px;
}

.full-figure {
    position: relative;
}

.full-figure__caption {
    position: absolute;
    display: flex;
    align-items: center;
    width: 255px;
    height: 220px;
    margin-top: -50px;
    padding: 50px;
    background: url("../img/tallinn/shape_tallinn.png") no-repeat;
    color: white;
    text-align: center;
    transform: translate(-20%, -53%);
    z-index: 1;
}

.location_tallinn .full-figure__caption {
    background-image: url("../img/tallinn/shape_tallinn.png");
    width: 255px;
    height: 220px;
}

.location_riga .full-figure__caption {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 325px;
    height: 231px;
    background-image:  url("../img/riga/shape_riga.png");
}

.details__title {
    margin-bottom: 10px;
    font-family: EBGaramond, Arial, sans-serif;
    font-size: 72px;
    color: #e98eb3;
}

.details_tallinn .details__text {
    width: 255px;
}

.details__imgs {
    position: relative;
    top: -100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: calc(var(--padding) * -1);
}

.details__figure {
    position: relative;
    width: calc(100% / 3);
}

.details__figure_knocker {
    align-self: flex-end;
    bottom: -43px;
}

.details__figure_door {
    align-self: center;
}

.details__figure_lantern {
    top: -78px;
    align-self: flex-start;
    width: 284px;
    margin-left: auto;
}

.details__caption {
    position: absolute;
    font-size: 16px;
    line-height: calc(17/16);
    font-family: Bureausans, Arial, sans-serif;
    font-weight: 600;
}

.details__figure_door .details__caption {
    top: 200px;
    left: -137px;
    width: 125px;
}

.details__figure_lantern .details__caption {
    bottom: 0;
    left: 20%;
    width: 155px;
}

.details_town-hall {
    color: white;
}

.details_town-hall .details__title {
    color: #7e89d9;
}

.details_town-hall .full-figure__caption {
    right: 0;
    width: 320px;
    background-image: url("../img/tallinn/sticker1.png");
    transform: translate(20%, -53%);
}

.details_town-hall .details__text {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
}

.details_town-hall .details__caption {
    top: 150px;
    left: 30px;
    width: 185px;
}


