@font-face {
    font-family: Bureausans;
    font-weight: 300;
    font-style: normal;
    src: url("../font/Bureausans_Regular.otf") format("opentype");
}

@font-face {
    font-family: Bureausans;
    font-weight: 600;
    font-style: normal;
    src: url("../font/Bureausans_Bold.otf") format("opentype");
}

@font-face {
    font-family: Bureausans;
    font-weight: 200;
    font-style: normal;
    src: url("../font/Bureausans_Light.otf") format("opentype");
}

@font-face {
    font-family: EBGaramond;
    font-weight: 300;
    font-style: normal;
    src: url("../font/EBGaramond08-Italic.otf") format("opentype");
}

:root {
    --full-width: 1024px;
    --padding: 72px;

    --font-size-xl: 134px;
    --line-height-xl: 1;

    --font-size-l: 60px;
    --line-height-l: 1;

    --font-size-m: 24px;
    --line-height-m: 32px;

    --font-size-s: 22px;
    --line-height-s: 28px;

    --font-size-xs: 16px;
    --line-height-xs: 17px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Bureausans, Arial, sans-serif;
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    font-weight: 200;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    font-family: EBGaramond, Arial, sans-serif;
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
}

.page {
    min-width: 320px;
}

.container {
    width: var(--full-width);
    margin: 0 auto;
    box-shadow: 0px 3px 62px 0px rgba(0, 0, 0, 0.32);
}

.intro {
    position: relative;
    width: 100%;
    padding: 55px var(--padding) 40px var(--padding);
}

.intro__title {
    margin-top: 45px;
    text-align: center;
}

.location {
    position: relative;
    padding: 0 var(--padding);
}

.location__intro {
    position: relative;
    margin-bottom: 140px;
}

.location__title {
    position: relative;
    margin-bottom: -60px;
    text-align: center;
    font-family: Bureausans, Arial, sans-serif;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: 300;
    z-index: 1;
}

.location__name {
    position: relative;
}

.location__name::before {
    content: "";
    position: relative;
    right: 12px;
    display: inline-block;
    width: 63px;
    height: 63px;
    background: url("../img/tallinn/tallinn_flag.png");
}

/*figures default*/

.figure {
    position: relative;
}

.figure__caption {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-family: Bureausans, Arial, sans-serif;
    font-weight: 600;
}

.full-figure {
    position: relative;
}

.full-figure__caption {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 45px;
    background-image: url("../img/tallinn/sticker1.png");
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    z-index: 1;
}

.note-figure {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(16%, 38%);
    z-index: 1;
}

/*section defaults*/

.section__title {
    margin-bottom: 25px;
}

.section__text {

}

.section__note {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-family: Bureausans, Arial, sans-serif;
    font-weight: 600;
}

/*location tallinn*/
.location_tallinn .location__intro .full-figure__caption {
    left: 0;
    bottom: 0;
    width: 235px;
    height: 204px;
    transform: translate(-14%, 32%);
}

/*tallinn-details*/
.tallinn-details {
    margin-bottom: 25px;
}

.tallinn-details .section__title {
    color: #e98eb3;
}

.tallinn-details .section__text {
    width: 255px;
}

.tallinn-details__cols {
    position: relative;
    top: -106px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: calc(var(--padding) * -1);
}

.tallinn-details .figure {
    position: relative;
}

.figure_knocker {
    align-self: flex-end;
    bottom: -17px;
    margin-right: 81px;
}

.figure_door {
    align-self: center;
}

.figure_lantern {
    top: -29px;
    align-self: flex-start;
    width: 230px;
    margin-left: auto;
}

.tallinn-details .figure__caption {
    position: absolute;
}

.figure_door .figure__caption {
    top: 160px;
    left: -125px;
    width: 125px;
}

.figure_lantern .figure__caption {
    top: 93%;
    left: 23%;
    width: 155px;
}

/*town-hall*/
.tallinn-town-hall {
    margin-bottom: 90px;
}

.tallinn-town-hall .section__text {
    position: absolute;
    top: 23px;
    left: 32px;
    width: 200px;
}

.tallinn-town-hall .section__note {
    position: absolute;
    top: 138px;
    left: 32px;
    width: 185px;
}

.tallinn-town-hall {
    color: white;
}

.tallinn-town-hall .section__title {
    color: #7e89d9;
}

.tallinn-town-hall .full-figure__caption {
    right: 0;
    bottom: 0;
    height: 190px;
    width: 290px;
    background-image: url("../img/tallinn/sticker2.png");
    transform: translate(16%, 20%);
}

/*tallinn vana*/
.tallinn-vana {
    margin-bottom: 100px;
}

.tallinn-vana .section__title {
    color: #825956;
}

.figure_bottle {
    display: flex;
}

.figure_bottle .section__texts {
    display: flex;
    justify-content: space-between;
    width: 683px;
}

.figure_bottle .section__text {
    width: 320px;
}

.figure_bottle .figure__img {
    margin-left: 28px;
    margin-top: -26px;
}

.tallinn-vana__cols {
    display: flex;
    align-items: baseline;
    margin-top: -212px;
}

.figure_ice {
    width: 130px;
    margin-right: 85px;
}

.figure_cola {
    width: 135px;
    margin-right: 80px;
}

.tallinn-vana__cols .figure__caption {
    margin-top: 20px;
}

.figure_cola .figure__caption {
    margin-left: 22px;
}

.figure_coffee {
    width: 170px;
}

.figure_coffee .figure__caption {
    margin-left: 15px;
}

/*tallinn kadriorg*/
.tallinn-kadriorg {
    margin-bottom: 130px;
}

.tallinn-kadriorg .section__title {
    color: #bd6160;
}

.tallinn-kadriorg .section__text {
    position: absolute;
    top: 23px;
    left: 32px;
    width: 200px;
    color: #bd6160;
}

.tallinn-kadriorg .full-figure__caption {
    left: 0;
    bottom: 0;
    width: 260px;
    height: 250px;
    background-image: url("../img/tallinn/sticker3.png");
    transform: translate(-17%, 42%) rotate(-21deg);
}

/*tallinn viewpoint*/
.tallinn-viewpoint {
    margin-bottom: 90px;
}

.tallinn-viewpoint .section__title {
    color: #6f87b6;
}

.tallinn-viewpoint .full-figure__caption {
    right: 0;
    top: 0;
    width: 253px;
    height: 253px;
    padding: 20px;
    background-image: url(../img/tallinn/sticker4.png);
    transform: translate(13%, -17%) rotate(13deg);
}


/*location riga*/

.location_riga .location__title {
    text-align: left;
}

.location_riga .location__name::before {
    background-image: url("../img/riga/riga_flag.png");
}

.location_riga .full-figure__img {
    margin-top: -175px;
}

.location_riga .full-figure__caption {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 325px;
    height: 231px;
    background-image:  url("../img/riga/sticker5.png");
}

/*location vilnius*/

.location_vilnius .location__name::before {
    background-image: url("../img/vilnius/vilnius_flag.png");
}



